.comPicture {
  height: 488px;
  width: 767px;
}

.community-button {
  box-sizing: border-box;
  height: 71.88px;
  width: 342px;
  border: 3px solid #cc5547;
  border-radius: 12px;
  color: #cc5547;
  font-family: Poppins;
  font-size: 25px;
  letter-spacing: 0.19px;
  line-height: 38px;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
}

.community-connection {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.small-div p {
  height: 145px;
  width: 335px;
  color: #595454;
  font-family: Poppins;
  font-size: 25px;
  letter-spacing: 0.19px;
  line-height: 38px;
  margin-left: 30px;
}

.comm-title {
  color: #595454;
  font-family: Poppins;
  font-size: 40px;
  font-weight: bold;
}

.communityPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}