.featured {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 100px;
  margin-top: 20px;
}

.featuredItemDiv {
  height: 214px;
  width: 480px;
  margin-bottom: 80px;
}

.featuredItemImg {
  height: 214px;
  width: 480px;
  object-fit: contain;
}
