#layoutProduct {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

#productImage {
  height: 282px;
  width: 282px;
}

#productInfo {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.link {
  color: red;
  text-decoration: underline;
}

.link:hover {
  color: green;
}

.addtocart {
  height: 74px;
  width: 514px;
  border-radius: 12px;
  background-color: #cc5547;
}

.imageFlex {
  display: flex;
  max-width: 600px;
  max-height: 600px;
  flex-wrap: wrap;
}
