* {
  font-family: 'Poppins', sans-serif;
}

.loveus {
  text-align: center;
  margin: 50px;
}

.loveflex {
  display: flex;
}
button.meetfarmers {
  box-sizing: border-box;
  height: 74px;
  width: 380px;
  border: 3px solid #ca5446;
  border-radius: 12px;
  color: #cc5547;
  font-family: Poppins;
  font-size: 30px;
  letter-spacing: 0.23px;
  line-height: 46px;
  text-align: center;
}

img {
  object-fit: contain;
}
