.footer {
  display: flex;
  width: 90%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffdd9d;
  margin: 24px auto 0 auto;
  font-family: 'Poppins', sans-serif;
  bottom: 0;

}

.footer-section {
  width: 33%;
}

.footer-links li {
  margin: 24px 0;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-social a {
  margin: 0 16px;
}

.fab {
  font-size: 32px !important;
  color: black;
}

.fab:hover {
  color: white;
  cursor: pointer;
}

ul {
  text-align: center;
  list-style: none;
  margin-bottom: 0;
}

i {
  color: none;
  background: none;
}
