.hide {
  display: none;
}

.payment-cycle {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  padding: 10px;
  font-size: 22px;
}

.static-checkout-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 772px;
}
.miniformdiv input {
  height: 50px;
  width: 480px;
  border: 1px solid #979797;
  display: flex;
  margin-bottom: 5px;
}

.checkout-button {
  height: 74px;
  width: 450px;
  border-radius: 12px;
  background-color: #cc5547;
  margin-top: 50px;
}

.confirmContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
