.hide {
  display: none;
}

.payment-cycle {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  padding: 10px;
  font-size: 22px;
}

.static-checkout-div {
  width: 100%;
}
.miniformdiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.miniformdiv input {
  height: 50px;
  width: 480px;
  border: 1px solid #979797;
  display: flex;
  margin-bottom: 5px;
}

.checkout-button {
  height: 74px;
  width: 450px;
  border-radius: 12px;
  background-color: #cc5547;
  margin-top: 50px;
}

.confirmContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.delivery-div {
  width: 480px;
}

.full-checkout-div {
  height: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 50px;
}

.confirm-info-div {
  color: #595454;
  font-family: Poppins;
  font-size: 22px;
}

.contact-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.pay-now-button {
  height: 74px;
  width: 400px;
  border-radius: 12px;
  background-color: #cc5547;
  margin-top: 25px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  margin-left: 40px;
}

.checkout-issue-div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.delivery-button {
  height: 61px;
  width: 251px;
  border-radius: 4px;
  background-color: #017021;
}
