.item-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
}
.dropdown-checkout-button {
  height: 74px;
  width: 400px;
  border-radius: 12px;
  background-color: #cc5547;
  margin-left: 8px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
}

div.order-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 8px 6px -6px #cc5547;
  background-color: #ffdd9d;
  height: 1391px;
  width: 668px;
}

.dropdown-checkout-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.count {
  border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 45px;
}
