.payment-cycle {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
}

.item-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
}
.checkout-button {
  height: 74px;
  width: 484px;
  border-radius: 12px;
  background-color: #cc5547;
}