.navbartwo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  background: #ffffff;
  width: 100%;
  align-items: center;
}
header.navbartwo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  background: #ffffff;
  height: 120px;
  width: 100%;
  align-items: center;
}

.navtwo-items {
  display: flex;
}

.navtwo-items a {
  padding: 0 20px;
  color: #000000;
}

.logoGB {
  height: 72px;
  width: 133px;
  padding: 8px;
}

.navbartwo__item_left {
  margin-top: 15px;
}

.navbartwo__item {
  margin-top: 15px;
}

.cart-dropdown {
  position: absolute;
  right: 100px;
  width: 500px;
  background-color: #ffdd9d;
  color: #595454;
  font-family: Poppins;
  font-size: 22px;
  letter-spacing: 0.17px;
  line-height: 33px;
  z-index: 100;
}
