.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}

.nav-items {
  display: flex;
}

.nav-items a {
  padding: 0 10px;
}
