.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  background: rgba(6, 6, 6, 0.31);
  height: 120px;
}

.nav-items {
  display: flex;
}

.nav-items a {
  padding: 0 20px;
}

.logo-white {
  height: 72px;
  width: 133px;
  padding: 8px;
}

.navbar__item_left {
  margin-top: 25px;
}

/* .cart-dropdown {
  position: absolute;
  right: 100px;
  width: 500px;
  background-color: #ffdd9d;
  color: #595454;
  font-family: Poppins;
  font-size: 22px;
  letter-spacing: 0.17px;
  line-height: 33px;
  z-index: 100;
} */
