body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }
  .card img {
      max-height: 20%;
      object-fit: cover;
      width: 100%;
      border-radius: 0;
      margin-bottom: 20px;
      }


  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 25.0%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    width: 25%;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #ffffff;
    color: rgb(19, 19, 20);
   
  }
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;

  }
  
  .title {
    color: rgb(165, 163, 163);
  }
  
  .button {
    border: 0;
    outline: 3px;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #ca5446;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
  }
  
  .button:hover {
    background-color: #c48a84;
  }

  .card-container{
      display: flex;
      flex-direction: row;
      
      margin: 0 5%;
  }

  .section{
    width: 90%;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
