.farm-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.farm-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.farm-card {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.full-card {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.background-image {
  height: 420px;
  width: 50%;
  background-image: url('../assets/images/logo.png');
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
}

.info {
  width: 50%;
  background-color: gray;
}

.addInfo {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.start {
  justify-content: flex-start;
}

.link {
  color: blue;
  text-decoration: underline;
}

.link:hover {
  color: green
}

/* #farmImage {
  padding: 75px;
  max-width: 100%;
  height: auto;
} */
