.healthways-hero{
  background-image: url("../assets/images/landingpage.jpg");
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 800px;
  background-position: center;
  background-size: cover;
  object-fit: contain;
}

.hero-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 56px 0 56px 88px;
}

.hero-left button{
  background: #CC5547;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  padding: 12px;
  font-size: 24px;
  width: 50%;
}

.hero-left h1{
  font-size: 5rem;
  font-weight: bolder;
}

.hero-left h2{
  line-height: 1.5;
}

.healthways-hero a {
  color: white;
}