.theBox {
  width: 85%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffdd9d;
  margin: 41px auto;
  font-family: 'Poppins', sans-serif;
}

.howImg {
  display: block;

  margin-left: auto;
  margin-right: 120px;
}

.howButton {
  color: #cc5547;
  font-family: Poppins;
  font-size: 30px;
  letter-spacing: 0.23px;
  line-height: 46px;
  text-align: center;
  box-sizing: border-box;
  height: 74px;
  width: 380px;
  border: 3px solid #cc5547;
  border-radius: 12px;
  background-color: #ffdd9d;
}

.howitwork {
  display: flex;
  flex-direction: row;
}

.howitwork p {
  width: 314px;
}
