.login {
  margin: 50px 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.loginFlex {
  display: flex;
  justify-content: center;
}

.login-button {
  height: 50px;
  width: 200px;
  border-radius: 12px;
  background-color: #cc5547;
  color: #ffffff;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.19px;
  line-height: 38px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-input {
  width: 350px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}
