.singlefarminfo {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.farm-items-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.minifarminfo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-self: center;
  padding-left: 20px;
}

ol.breadcrumb {
  background-color: #ffffff;
  font-family: Poppins;
  font-size: 22px;
  color: #464646;
  margin-left: 100px;
}

ol.breadcrumb:active {
  font-weight: bold;
  color: #464646;
}

:link {
  color: #464646;
}

.farmPic {
  width: 550px;
}
